<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="dev.mobileframework.hybriddemo">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:label="Hybrid Demo"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity
            android:name="dev.mobileframework.hybriddemo.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
